<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>THEME</key>
	<dict>
		<key>Defaults</key>
		<dict>
			<key>color</key>
			<dict>
				<key>red</key>
				<string>14</string>
				<key>green</key>
				<string>170</string>
				<key>blue</key>
				<string>125</string>
			</dict>
			<key>fontSize</key>
			<integer>10</integer>
			<key>fontName</key>
			<string>Helvetica</string>
			<key>navigationBar</key>
			<dict>
				<key>fontColor</key>
				<dict>
					<key>red</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>blue</key>
					<integer>255</integer>
				</dict>
				<key>color</key>
				<dict>
					<key>red</key>
					<integer>0</integer>
					<key>green</key>
					<integer>0</integer>
					<key>blue</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>tabBar</key>
			<dict>
				<key>fontColor</key>
				<dict>
					<key>red</key>
					<integer>200</integer>
					<key>green</key>
					<integer>200</integer>
					<key>blue</key>
					<integer>200</integer>
				</dict>
				<key>color</key>
				<dict>
					<key>red</key>
					<integer>0</integer>
					<key>green</key>
					<integer>0</integer>
					<key>blue</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>tabBarSelected</key>
			<dict>
				<key>fontColor</key>
				<dict>
					<key>red</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>blue</key>
					<integer>255</integer>
				</dict>
				<key>color</key>
				<dict>
					<key>red</key>
					<integer>14</integer>
					<key>green</key>
					<integer>170</integer>
					<key>blue</key>
					<integer>120</integer>
				</dict>
			</dict>
		</dict>
		<key>LabelLevel1</key>
		<dict>
			<key>description</key>
			<string>Font used for main title sections</string>
			<key>color</key>
			<dict>
				<key>red</key>
				<string>14</string>
				<key>green</key>
				<string>170</string>
				<key>blue</key>
				<string>125</string>
			</dict>
			<key>fontSize</key>
			<integer>30</integer>
			<key>fontName</key>
			<string>Helvetica-Bold</string>
		</dict>
		<key>LabelLevel2</key>
		<dict>
			<key>description</key>
			<string>Font used for subtitle sections</string>
			<key>color</key>
			<dict>
				<key>red</key>
				<string>255</string>
				<key>green</key>
				<string>255</string>
				<key>blue</key>
				<string>255</string>
			</dict>
			<key>fontSize</key>
			<integer>22</integer>
			<key>fontName</key>
			<string>Helvetica-Bold</string>
		</dict>
		<key>LabelLevel3</key>
		<dict>
			<key>description</key>
			<string>Font used for subtitle inside body sections whith emphasys</string>
			<key>color</key>
			<dict>
				<key>red</key>
				<string>255</string>
				<key>green</key>
				<string>255</string>
				<key>blue</key>
				<string>255</string>
			</dict>
			<key>fontSize</key>
			<integer>17</integer>
			<key>fontName</key>
			<string>Helvetica-Bold</string>
		</dict>
		<key>LabelLevel4</key>
		<dict>
			<key>description</key>
			<string>Font used in body section whith a little emphasys</string>
			<key>color</key>
			<dict>
				<key>red</key>
				<string>255</string>
				<key>green</key>
				<string>255</string>
				<key>blue</key>
				<string>255</string>
			</dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>fontName</key>
			<string>Helvetica-Bold</string>
		</dict>
		<key>LabelLevel5</key>
		<dict>
			<key>description</key>
			<string>Font used in title sections with no emphasys</string>
			<key>color</key>
			<dict>
				<key>red</key>
				<string>255</string>
				<key>green</key>
				<string>255</string>
				<key>blue</key>
				<string>255</string>
			</dict>
			<key>fontSize</key>
			<integer>13</integer>
			<key>fontName</key>
			<string>Helvetica</string>
		</dict>
		<key>LabelLevel6</key>
		<dict>
			<key>description</key>
			<string>Font used in body sections for descpritive texts</string>
			<key>color</key>
			<dict>
				<key>red</key>
				<string>255</string>
				<key>green</key>
				<string>255</string>
				<key>blue</key>
				<string>255</string>
			</dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>fontName</key>
			<string>Helvetica</string>
		</dict>
	</dict>
</dict>
</plist>
