<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddNumberViews</key>
	<string>http://www.arcamobile.com/iapp/m6200/util/addviews.php?module=%i&amp;itemID=%i</string>
	<key>AddProfile</key>
	<string>http://www.arcamobile.com/iapp/m6200/profile/add.php</string>
	<key>ArcaMobileDeals</key>
	<string>http://www.arcamobile.com/iapp/m6200/deal/nearbydatatree2.php?keyword=%@&amp;edirnearby=%@&amp;zipcode=%@&amp;edirNearbyDist=%@&amp;latitude=%0.9f&amp;longitude=%0.9f</string>
	<key>Article</key>
	<string>http://www.arcamobile.com/iapp/m6200/article/maindatatree.php?page=%i</string>
	<key>ArticleList</key>
	<string>http://www.arcamobile.com/iapp/m6200/article/resultsdatatree.php%@%@%@</string>
	<key>CheckIn</key>
	<string>http://www.arcamobile.com/iapp/m6200/checkin/checkinadd.php</string>
	<key>Classified</key>
	<string>http://www.arcamobile.com/iapp/m6200/classified/maindatatree.php?page=%i</string>
	<key>ClassifiedList</key>
	<string>http://www.arcamobile.com/iapp/m6200/classified/resultsdatatree.php%@%@%@</string>
	<key>Deal</key>
	<string>http://www.arcamobile.com/iapp/m6200/deal/deal.php</string>
	<key>DealDashboard</key>
	<string>http://www.arcamobile.com/iapp/m6200/categories.php</string>
	<key>DealsByCategory</key>
	<string>http://www.arcamobile.com/iapp/m6200/deal/resultsdatatree.php?edirnearby=%@&amp;zipcode=%@&amp;keyword=%@&amp;latitude=%0.9f&amp;longitude=%0.9f&amp;category_id=%d&amp;id=%d&amp;page=%d&amp;orderby=%d</string>
	<key>Event</key>
	<string>http://www.arcamobile.com/iapp/m6200/event/maindatatree.php?page=%i</string>
	<key>EventList</key>
	<string>http://www.arcamobile.com/iapp/m6200/event/resultsdatatree.php%@%@%@</string>
	<key>FacebookAuth</key>
	<string>http://www.arcamobile.com/iapp/m6200/profile/facebookauth.php?uid=%@&amp;first_name=%@&amp;last_name=%@&amp;access_token=%@</string>
	<key>FacebookPost</key>
	<string>http://www.arcamobile.com/iapp/m6200/profile/facebookpost.php?uid=%@&amp;access_token=%@&amp;promotionID=%d</string>
	<key>GetCheckIns</key>
	<string>http://www.arcamobile.com/iapp/m6200/checkin/getcheckins.php?item_id=%i</string>
	<key>GetListing</key>
	<string>http://www.arcamobile.com/iapp/m6200/listing/getlisting.php?listingID=%@</string>
	<key>GetReviews</key>
	<string>http://www.arcamobile.com/iapp/m6200/reviews/getreviews.php?item_id=%i</string>
	<key>Languages</key>
	<string>http://www.arcamobile.com/iapp/m6200/profile/languages.php</string>
	<key>ListingListCategory</key>
	<string>http://www.arcamobile.com/iapp/m6200/listing/resultsdatatree.php?page=%i&amp;keyword=%@</string>
	<key>ListingListKeyword</key>
	<string>http://www.arcamobile.com/iapp/m6200/listing/resultsdatatree.php?page=%i&amp;category_id=%i</string>
	<key>ListinIndex</key>
	<string>http://www.arcamobile.com/iapp/m6200/listing/maindatatree.php?page=%i&amp;pageletter=%@</string>
	<key>LocationCity</key>
	<string>http://www.arcamobile.com/iapp/m6200/location/city.php?state_id=%i</string>
	<key>LocationCountry</key>
	<string>http://www.arcamobile.com/iapp/m6200/location/country.php</string>
	<key>LocationState</key>
	<string>http://www.arcamobile.com/iapp/m6200/location/state.php?country_id=%i</string>
	<key>Login</key>
	<string>http://www.arcamobile.com/iapp/m6200/profile/login.php</string>
	<key>MyDeals</key>
	<string>http://www.arcamobile.com/iapp/m6200/deal/myDeals.php?account_id=%d&amp;username=%@</string>
	<key>Nearby</key>
	<string>http://www.arcamobile.com/iapp/m6200/listing/nearbydatatree.php?keyword=%@&amp;edirnearby=%@&amp;zipcode=%@&amp;edirNearbyDist=%@&amp;latitude=%0.9f&amp;longitude=%0.9f&amp;country_id=%i&amp;state_id=%i&amp;region_id=%i</string>
	<key>PushNotification</key>
	<string>http://www.arcamobile.com/iapp/m6200/push/push.php</string>
	<key>RecordInstall</key>
	<string>http://www.arcamobile.com/iapp/m6200/deal/recordInstall.php</string>
	<key>Review</key>
	<string>http://www.arcamobile.com/iapp/m6200/reviews/reviewadd.php</string>
	<key>Search</key>
	<string>http://www.arcamobile.com/iapp/m6200/listing/nearbydatatree.php?keyword=%@&amp;edirnearby=%@&amp;zipcode=%@&amp;edirNearbyDist=%d&amp;latitude=%0.9f&amp;longitude=%0.9f&amp;country_id=%i&amp;state_id=%i&amp;region_id=%i</string>
	<key>SettingsManager</key>
	<string>http://www.arcamobile.com/iapp/m6200/conf/settings.php</string>
	<key>TwitterPost</key>
	<string>http://www.arcamobile.com/iapp/m6200/profile/twitterpost.php?&amp;promotionID=%d</string>
</dict>
</plist>
